@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
align-items: center;
text-align: center;
font-family: "Open Sans", sans-serif;
background: #040404 url("/assets/img/portfolio/bg-portfolio.webp") top right no-repeat;
background-size: cover;
color: #a11a1a;
position: relative;
}
button{
    width: 5pc;
    height: 5pc;
    border: none;
    cursor: pointer;
    background: #6deb61;
    color: #f34b4b;
    font-weight: 1000;
    transition: 500ms;
}
button:hover{
    background: #19df07;
}
table {
    margin: 0% auto;
}
.startBtn{
    width: 5pc;
    height: 2pc;
    border-radius: 5pc;
    color: black;
    transition: 500ms;
}   
.startBtn:hover{
    background: #19df07;
    color: #f70707;
    
}